<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<div id="nsc_access_error" style="display: none;">
    <h1>Microphone/Camera Access</h1>

    <p>Nimbus needs access to your microphone or camera to record audio. Please grant access to start recording.</p>
    <p><b> Nimbus failed to access to your microphone or camera. Please change the media setting in the location bar. Then close this tab and try again. </b></p>    <!--<img src="../images/media-access.gif">-->
</div>
<script src="../js/class/nscVideoRecorder.js"></script>
<script src="./frame-media-access.js"></script>
</body>
</html>
